{% extends "dict_base.html" %}

{% block subnavi %}
	<div id="subnavi">
		<ul>
		{% for n in navis %}
			<li>-</li>
			<li><a href="{{ n.href }}">{{ n.name }}</a></li>
		{% endfor %}
		</ul>
		<div style="clear: both"></div>
	</div>
	<div style="clear: both"></div>
{% endblock %}


{% block subcontent %}
	<div id="subcontent">
		<div style="clear: both"></div>
		<table class="detailtable">		
			<tr class="tbheader"><td>HOST</td><td>CONTACTER</td><td>OS</td><td>ADD TIME</td><td>LAST MODIFY</td><td>ACTION</td></tr>
			<tr class="tbtr"><td>{{ host.name }}</td><td>{{ host.ops_contacter }}</td><td>{{ host.os_info }}</td><td>{{ host.gmt_created }}</td><td>{{ host.gmt_modified }}</td><td><a href="#">EDIT</a></td></tr>
		</table>
	</div>
	<div style="clear: both"></div>
{% endblock %}